.business {
  text-align: left;
}

.business * {
  margin: 0;
  padding: 0;
}

.business-img {
  width: 250px;
  height: 250px;
}

.business-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.business-info-right {
  text-align: right;
}

.business-category {
  text-transform: uppercase;
  font-weight: bold;
  color: olive;
}

.business-rating {
  font-weight: bold;
  color: olive;
}
